asgiref==3.11.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.4
django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
et-xmlfile==2.0.0
google-auth==2.48.0
google-auth-oauthlib==1.2.4
gspread==6.2.1
idna==3.11
markupsafe==3.0.3
msal==1.34.0
numpy==2.4.2
oauthlib==3.3.1
openpyxl==3.1.5
pandas==3.0.0
psycopg2-binary==2.9.11
pyasn1==0.6.2
pyasn1-modules==0.4.2
pycparser==3.0
pyjwt==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-http-client==3.3.7
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
sendgrid==6.12.5
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
werkzeug==3.1.5
